/*
Override default rules of all frameworks and libraries here ONLY!
*/

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "variables.scss";
@import "mixins.scss";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $sans-serif;
    font-kerning: normal;
}

.modal-header .close {
    &:focus {
        outline: 0;
    }
}