<div ng-controller="DashboardController as vm">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" name="searchForm" role="form" ng-submit="vm.onSubmit(searchForm)">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Language</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="vm.selected.language">
                            <ui-select-match placeholder="Select a language">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="language in (vm.languages | filter: $select.search) track by language.language_id">
                                <span ng-bind="language.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="vm.selected.category">
                            <ui-select-match placeholder="Select a category">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="category in (vm.categories | filter: $select.search) track by category.category_id">
                                <span ng-bind="category.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Actors</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="vm.selected.actor">
                            <ui-select-match placeholder="Select an actor">
                                <span>{{$select.selected.first_name}} {{$select.selected.last_name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="actor in (vm.actors | filter: $select.search) track by actor.actor_id">
                                <span ng-bind="actor.first_name"></span> <span ng-bind="actor.last_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Search</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               id="title"
                               placeholder="Search by title, description, category, release year, language, length, rating, actor's name"
                               ng-model="vm.search">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <span class="text-muted">&nbsp;&nbsp;{{vm.films.length}} has been found</span>
                    </div>
                </div>
            </form>
        </div>
    </div>




    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
            <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Charts</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="table">
            
            
                <div class="row">
                    <div class="col-xs-12">
                        <dir-pagination-controls max-size="10"
                                                 on-page-change="vm.pageChanged(newPageNumber)"
                                                 boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" id="ms-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="10%">Title</th>
                                        <th width="20%">Description</th>
                                        <th>Category</th>
                                        <th>Release Year</th>
                                        <th>Language</th>
                                        <th>Length</th>
                                        <th>Rating</th>
                                        <th width="20%">Actors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="film in vm.films | filter: vm.search | itemsPerPage: 50"
                                        current-page="vm.currentPage">
                                        <td>{{film.title}}</td>
                                        <td>{{film.description}}</td>
                                        <td>{{film.category}}</td>
                                        <td>{{film.release_year}}</td>
                                        <td>{{film.language}}</td>
                                        <td>{{film.length}}</td>
                                        <td>{{film.rating}}</td>
                                        <td>{{film.actors}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <dir-pagination-controls max-size="10"
                                                 on-page-change="vm.pageChanged(newPageNumber)"
                                                 boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            
            
            
            </div>
            <div role="tabpanel" class="tab-pane fade" id="charts">
                
                Charts
            </div>
        </div>

    </div>




    
</div>